<div class="container wm">
    <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-start">
          <div class="lbl">
            {{currentSymbol}}
          </div>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
          <div class="dropdown">
            <button class="dropbtn">Symbol</button>
            <div class="dropdown-content">
              <button *ngFor="let symbol of symbols; let i = index" (click)="fetchSymbolData(symbol.name)">{{symbol.name}}</button>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <app-charts [prices]="prices" *ngIf="prices !== undefined && prices !== null && prices.length !== 0"></app-charts>
      </div>
      <div class="col-2"></div>
    </div>
</div>
