.success-message {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    background-color: #000000;
    color: hsl(0, 0%, 0%);
    font-weight: bold;
  }

.error-message {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(221, 180, 174);
    background-color: rgb(221, 180, 174);
    color: #000000;
    font-weight: bold;
}

.no-radius {
  border-radius: 0 !important;
}

.back {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgba(199, 197, 180, 0.5); /* semi-transparent border */
    background-color: rgba(199, 197, 180, 0.5); /* semi-transparent background */
    color: #000000;
    font-weight: bold;
}

.select-container {
  width: 100%; /* Container takes the full width */
  cursor: pointer; /* Change the cursor to indicate it's clickable */
}

.submit-button {
  background-color: rgb(223, 223, 223);
  padding: 2%s;
}